.sideBarElement {
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--border);
    cursor: pointer;
}

.sideBarElement:hover {
    background: var(--hover);
}

.sideBarElement.active {
    background: #0070f3;
    color: white;
}

.name {
    margin-left: 12px;
    font-weight: 500;
}