.card {
    width: 277px;
    height: 277px;
    background-color: var(--primary);
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardText {
    color: var(--foreground);
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}