.button {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 122px;
  width: 252px;
  cursor: pointer;
}

.icon {
  color: var(--foreground);
  font-size: 50px;
}